import {Dialect} from 'sequelize'

const dbConfig = {
  HOST: "localhost",
  PORT: 5433,
  USER: "famille",
  PASSWORD: "Jk42EzRN8Z7XwhUM",
  DB: "famille",
  dialect : "postgres" as Dialect,
  pool: {
    max: 5,
    min: 0,
    acquire: 30000,
    idle: 10000
  }
}

export default dbConfig
